<h1 style="text-align: center;">Hello</h1>



<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li ><a routerLink="/master" routerLinkActive="'active'"  >Home</a></li>
      <li><a [routerLink]="'/employee'" routerLinkActive="'active'">emloyee</a></li>
      <li><a [routerLink]="'/client'" routerLinkActive="'active'">client</a></li>
    </ul>
    <form class="navbar-form navbar-left" action="/action_page.php">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search" name="search">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
    <button class="btn btn-primary">add</button>
  </div>
</nav>



</body>
</html>

<app-navbar></app-navbar>
<router-outlet></router-outlet>
<app-stars *ngFor="let star of stars" [rating]="star" (ratingSelected)="onRatingSelected($event)"></app-stars>


