
<div class="filters">
    <button (click)="setFilter('all')">All</button>
    <button (click)="setFilter('completed')">Completed</button>
    <button (click)="setFilter('pending')">Pending</button>
  </div>
  
<div class="todo-container">
    <h1>todolist works!</h1>

    <ul>
        <li *ngFor="let todo of todos">
            <input type="checkbox" [checked]="todo.completed" (change) = "toggleTodo(todo.id)" />
            <input *ngIf="todo.id === editingTodoId" [(ngModel)]="editingTitle" (blur)="updateTodo(todo.id)" />
            <!-- <span [class.completed]="todo.completed">{{todo.title}}</span> -->
            <span *ngIf="todo.id !== editingTodoId" (dblclick)="editTodo(todo)">{{ todo.title }}</span>

            <button (click)="deleteTodo(todo.id)">❌</button>
        </li>
    </ul>
</div>