.container{
    background-color: bisque;
    border-radius: 10px;
    border: 2px solid transparent;
    margin: 10px auto;
    height: 400px;
}
.header{
    display: flex;
    justify-content: space-between;
}
.header h1{
    color: blue;
}
.header span{
    color: aquamarine;
}
.header nav{
    display: flex;
    gap: 10px ;
    margin-top: 10px;
}
.header nav a{
    text-decoration: none;
}
.header button{
    outline: none;
    border: none;
    background-color: burlywood;
    border-radius: 10px;
    color: blue;
    padding: 10px;
}
.header{
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}