<!-- <p>roles works!</p>
<p>{{firstName}}</p>

<p>{{version}}</p>
<p>{{curentDate}}</p>
<p>{{isActive}}</p>
<p>{{angularVersion}}</p> -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="roles.component.css" />
  </head>
  <body>
    <div class="container">
      <h1 style="text-align: center">Roles Components</h1>
      <h1>roles work</h1>
      <div class="row">
        <p class="col-3">{{ firstName }}</p>

        <p class="col-3">{{ version }}</p>
        <p class="col-3">{{ curentDate }}</p>
        <p class="col-3">{{ selectModel }}</p>
        <p class="col-3">{{ radioSelect }}</p>
      </div>
      <div class="row">
        <div class="col-3">
          <input type="text" [value]="firstName" class="form-control" />
        </div>
        <div class="col-3">
          <input type="text" [(ngModel)]="firstName" class="form-control" />
        </div>
        <div class="col-3">
          <label>
            <input
              type="radio"
              name="first"
              [(ngModel)]="radioSelect"
              value="mohsen"
            />
            Mohsen
          </label>
          <label>
            <input
              type="radio"
              name="first"
              [(ngModel)]="radioSelect"
              value="ali"
            />
            Ali
          </label>
          <label>
            <input
              type="radio"
              name="first"
              [(ngModel)]="radioSelect"
              value="sara"
            />
            Sara
          </label>
        </div>

        <div class="col-3">
          <select [(ngModel)]="selectModel">
            <option value="male">male</option>
            <option value="female">feMale</option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="col-3">
          <button class="btn btn-success" (click)="showWelcome()">
            Welcome
          </button>
        </div>
        <div class="col-3">
          <button class="btn btn-success" (click)="showMessage('react')">
            react
          </button>
        </div>
        <div class="col-3">
          <button class="btn btn-success" (click)="showMessage('Angular')">
            Angular
          </button>
        </div>
      </div>

      <div class="row">
        <div class="col-4">
          <ul>
            <li *ngFor="let item of roleList">{{ item.role }}</li>
          </ul>
        </div>
        <div class="col-4">
          <select>
            <option *ngFor="let role of roleList" [value]="role.roleId">
              {{ role.role }}
            </option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <table class="table table-bordered my-5">
            <thead>
              <tr>
                <th>
                  num
                </th>
                <th>
                  RoleName
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of roleList; let srno = index">
                
                <td>{{srno}}</td>
                <td>{{ item.role }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div>
      <h1>heloo</h1>
      <ul style="margin-left: 30px;">
        <li *ngFor="let item of roleList">{{item.roleId}} -- {{item.role}}</li>
      </ul>
    </div>
  </body>
</html>
