<p class="text-center">designation works!</p>


<div class="row">
    @for (item of designationList; track $index){
        <div class="col-3">
            <div class="card">
            <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some text</p>
                <a href="#" class="card-link">Card Link</a>
                <a href="#" class="card-link">Card Link2</a>
            </div>
            </div>
           
        </div>
    }
    <div class="col-3">
        <div class="card">
        <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some text</p>
            <a href="#" class="card-link">Card Link</a>
            <a href="#" class="card-link">Card Link2</a>
        </div>
        </div>
       
    </div>
</div>